h1{
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.img_centro{
    margin: auto;
    display: block;
    width: 30%;
    border-radius: 12px;
}

